@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

/****************************************Шапка сайта****************************************/
header {
  padding-left: 7%;
  padding-right: 7%;
  background-color: #373737;
  font-size: 14px;
  color: #818181;
  font-weight: 400;
}

.header-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container__nav {
  display: flex;
  align-items: center;
}
.header-container__nav li {
  padding-right: 25px;
}
.header-container__nav a {
  color: #818181;
}
.header-container__nav-burger {
  display: none;
}
.header-container__contacts::before {
  margin-right: 5px;
}
.header-container__contacts_adaptive {
  display: none;
}
.header-container__contacts_adaptive a {
  color: #818181;
}
.header-container__contacts_adaptive i {
  margin-right: 5px;
  font-size: 18px;
}
@media (max-width: 930px) {
  .header-container__contacts_adaptive {
    display: block;
  }
  .header-container__contacts {
    display: none;
  }
  .header-container__nav {
    justify-content: space-between;
  }
}
@media (max-width: 560px) {
  .header-container__contacts_adaptive span {
    display: none;
  }
  .header-container__nav li {
    padding-right: 15px;
    font-size: 12px;
  }
}
@media (max-width: 410px) {
  .header-container__contacts_adaptive span {
    display: none;
  }
  .header-container__nav {
    position: absolute;
    top: 50px;
    left: 0px;
    display: none;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #54494a;
  }
  .header-container__nav li {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .header-container__nav-burger {
    display: block;
  }
}

/*******************************************************************************************/
/****************************FeedBack button - для адаптивности*****************************/
.feed-back-btn {
  display: none;
  position: fixed;
  z-index: 3;
  background-color: #ce4180;
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: 0.4s;
}

.feed-back-btn img {
  width: 30px;
}

.feed-back-btn:hover {
  box-shadow: 0 0 5px 0 #F137A6 inset, 0 0 5px 2px #F137A6;
  color: #fdfdfd;
}

@media (max-width: 631px) {
  .feed-back-btn {
    display: flex;
  }
}
/*******************************************************************************************/
/**************************************Окно приветсвия**************************************/
.main-screen {
  display: grid;
  grid-template-rows: 110px 85px 550px;
  border-bottom: 1px solid #eaeaea;
  /***************** Слайдер *****************/
  /*********************************************************************************/
}
.main-screen__header {
  padding-left: 7%;
  padding-right: 7%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 110px;
  font-size: 16px;
  color: #818181;
  font-weight: 400;
  border-bottom: 1px solid #eaeaea;
}
.main-screen__logo-container {
  display: flex;
}
.main-screen__logo {
  padding-right: 7%;
}
.main-screen__logo-description {
  display: flex;
  align-items: center;
  width: 100%;
}
.main-screen__contacts-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-screen__contacts {
  margin-right: 4%;
}
.main-screen__phone {
  color: #545455;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 800;
}
.main-screen__workingHours {
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.main-screen__feedBack {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20.42px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #ce4180;
  transition: 0.4s;
  display: block;
}
.main-screen__feedBack:hover {
  box-shadow: 0 0 5px 0 #F137A6 inset, 0 0 5px 2px #F137A6;
  color: #fdfdfd;
}
.main-screen__navbar {
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
  overflow: auto;
}
.main-screen__navbar ul {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.main-screen__navbar-icon {
  color: #545455;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.main-screen__navbar-icon i {
  font-size: 200%;
  color: #e0e0e0;
  padding-right: 12px;
  transition: 0.4s;
}
.main-screen__navbar li:hover i {
  color: #ce4180;
}
.main-screen__slider {
  position: relative;
  overflow: hidden;
}
.main-screen__slider-wrapper {
  display: flex;
  transition: transform 0.6s ease;
}
.main-screen__slider-item {
  flex: 0 0 100%;
  max-width: 100%;
}
.main-screen__slider-control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}
.main-screen__slider-control:hover, .main-screen__slider-control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.main-screen__slider-control_left {
  left: 0;
}
.main-screen__slider-control_right {
  right: 0;
}
.main-screen__slider-control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.main-screen__slider-control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.main-screen__slider-control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.main-screen__slider-item {
  height: 550px;
}
.main-screen__slider-item > div {
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main-screen__slider-description {
  max-width: 750px;
  width: 60%;
  position: absolute;
  bottom: 0;
  height: 174px;
  box-shadow: 0 0 32px 2px rgba(88, 79, 85, 0.41);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-screen__description-heading {
  color: #545455;
  font-family: "Exo 2", sans-serif;
  font-size: 120%;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.main-screen__description-body {
  color: #818181;
  font-family: Roboto, sans-serif;
  font-size: 90%;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}
.main-screen__description-dots ul {
  display: flex;
}
.main-screen__description-dots li {
  width: 10px;
  height: 10px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 5px;
  transition: 0.4s;
  cursor: pointer;
}
.main-screen__dot.active {
  background: #ff253a;
}

/*******************************************************************************************/
/**************************************Адаптив для main-screen******************************/
@media (max-width: 930px) {
  .main-screen {
    grid-template-rows: 110px 85px 400px;
  }
  .main-screen__contacts-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  .main-screen__feedBack-container {
    display: flex;
    justify-content: center;
  }
  .main-screen__contacts {
    display: none;
  }
  .main-screen__header {
    grid-template-columns: 70% 30%;
  }
  .main-screen__navbar ul {
    width: 95%;
  }
  .main-screen__navbar-icon {
    font-size: 14px;
  }
  .main-screen__navbar-icon i {
    font-size: 150%;
  }
  .main-screen__slider-item > div {
    position: relative;
    background-size: auto 400px;
  }
  .main-screen__slider-item {
    height: 400px;
  }
  .main-screen__description-heading {
    font-size: 100%;
  }
  .main-screen__description-heading {
    font-size: 80%;
  }
  .main-screen__description-body {
    font-size: 70%;
  }
}
@media (max-width: 631px) {
  .main-screen {
    grid-template-rows: 110px 400px 300px;
    height: 100%;
  }
  .main-screen__feedBack-container {
    display: none;
  }
  .main-screen__header {
    grid-template-columns: 100%;
  }
  .main-screen__logo-description {
    justify-content: flex-end;
    font-size: 15px;
    font-weight: bold;
  }
  .main-screen__logo img {
    width: 170%;
  }
  .main-screen__navbar {
    height: 100%;
  }
  .main-screen__navbar ul {
    padding: 20px 0 20px 0;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .main-screen__navbar li {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main-screen__navbar-icon {
    font-size: 20px;
  }
  .main-screen__navbar-icon i {
    font-size: 24px;
  }
  .main-screen__navbar li:hover {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
  }
  .main-screen__slider-item > div {
    background-size: auto 300px;
  }
  .main-screen__slider-item {
    height: 300px;
  }
  .main-screen__slider-description {
    width: 85%;
    height: 40%;
  }
}
@media (max-width: 381px) {
  .main-screen {
    grid-template-rows: 110px 400px 200px;
    height: 100%;
  }
  .main-screen__logo-description {
    width: 60%;
    font-size: 12px;
  }
  .main-screen__logo-container {
    justify-content: space-between;
  }
  .main-screen__logo {
    height: 100%;
  }
  .main-screen__logo img {
    width: 100%;
  }
  .main-screen__slider-description {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 50%;
  }
  .main-screen__description-heading {
    font-size: 70%;
  }
  .main-screen__slider-item > div {
    background-size: auto 200px;
  }
  .main-screen__slider-item {
    height: 200px;
  }
}
/*******************************************************************************************/
/*************************************Остальной контент*************************************/
.content {
  padding: 60px 7% 60px 7%;
}

/*******************************************************************************************/
/************************************Анимированная проводка*********************************/
.wiring {
  height: 320px;
  border-bottom: 1px solid #eaeaea;
}
.wiring__container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.wiring__items {
  width: 30%;
  max-width: 370px;
  height: 200px;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
.wiring__items-text {
  border-bottom: 2px solid white;
  display: inline-block;
  padding-left: 10%;
  padding-bottom: 15px;
  padding-top: 15px;
  position: absolute;
  top: 40%;
  background-image: linear-gradient(to right, #ce4180, rgba(255, 255, 255, 0.1));
  background-repeat: no-repeat;
  background-size: 0;
}
.wiring__gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #ce4180, rgba(255, 255, 255, 0.1));
  background-repeat: no-repeat;
  cursor: pointer;
}
.wiring__gradient:hover {
  animation: wiring 0.4s linear 1 normal 0s forwards;
}
.wiring__gradient:hover .wiring__items-text {
  animation: bg-text 0.2s linear 1 normal 0.45s forwards;
}
.wiring__items.window {
  background: no-repeat url("IMG/Wiring/wiring-window.png");
}
.wiring__items.doors {
  background: no-repeat url("IMG/Wiring/wiring-doors.png");
}
.wiring__items.balcony {
  background: no-repeat url("IMG/Wiring/wiring-balcony.png");
}
@keyframes bg-text {
  0% {
    background-size: 0;
    border-bottom: 2px solid white;
  }
  100% {
    background-size: 100%;
    border-bottom: 3px solid white;
  }
}
@keyframes wiring {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 70%;
  }
  100% {
    background-size: 0;
  }
}

@media (max-width: 631px) {
  .wiring {
    height: 250px;
  }
  .wiring__items {
    height: 150px;
  }
}
@media (max-width: 381px) {
  .wiring {
    height: 500px;
    padding-bottom: 30px;
  }
  .wiring__container {
    flex-direction: column;
    width: 100%;
  }
  .wiring__items {
    width: 100%;
  }
}
/*******************************************************************************************/
/************************************Секция окон********************************************/
.window-section {
  height: 490px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}
.window-section__container {
  display: flex;
  justify-content: space-around;
  font-family: "Exo 2", sans-serif;
  width: 100%;
  height: 80%;
}
.window-section__items {
  height: 370px;
  width: 14%;
  min-width: 200px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  position: relative;
}
.window-section__items_active {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.window-section__items:hover .window-section__items_active {
  display: flex;
  flex-direction: column;
  animation: window-active 0.4s linear 1 normal forwards;
}
.window-section__items:hover .window-section__items-text {
  display: none;
}
.window-section__items-text-description {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 60%;
  padding: 5%;
}
.window-section__items-text-price {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  height: 20%;
}
.window-section__items-text-price span {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.window-section__items-text-btn {
  display: flex;
  justify-content: center;
}
.window-section__items_active a {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20.42px;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #ce4180;
  transition: 0.4s;
}
.window-section__items_active a:hover {
  box-shadow: 0 0 5px 0 #F137A6 inset, 0 0 5px 2px #F137A6;
  color: #fdfdfd;
}
.window-section__items-img {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}
.window-section__items-text {
  border-top: 2px solid #d1528b;
  margin-top: 25px;
  padding-top: 20px;
  text-align: center;
  color: #545455;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
@keyframes window-active {
  0% {
    background: rgba(0, 0, 0, 0.1);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 1200px) {
  .window-section {
    height: 1400px;
  }
  .window-section__container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5%;
  }
  .window-section__items {
    margin: 0 auto;
  }
}
@media (max-width: 470px) {
  .window-section {
    height: 100%;
  }
  .window-section__container {
    display: flex;
    flex-direction: column;
  }
  .window-section__items {
    margin-bottom: 5%;
  }
}

/*******************************************************************************************/
/************************************Секция услуг*******************************************/
.services-section {
  height: 290px;
  border-bottom: 1px solid #eaeaea;
}
.services-section__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: "Exo 2", sans-serif;
}
.services-section__item {
  width: 48.5%;
  max-width: 590px;
  height: 170px;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
.services-section__item.liner {
  background-image: url("IMG/Services/services-img1.png");
}
.services-section__item.service {
  background-image: url("IMG/Services/services-img2.png");
}
.services-section__gradient {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: linear-gradient(to right, #ce4180, rgba(255, 255, 255, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}
.services-section__gradient:hover {
  animation: services-animation 1s linear 1 normal 0s forwards;
}
.services-section__item-text {
  padding-top: 15px;
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
@keyframes services-animation {
  0% {
    background-size: 100%;
  }
  25% {
    background-size: 50%;
  }
  50% {
    background-size: 0;
  }
  75% {
    background-size: 10%;
    background-image: linear-gradient(to right, #ce4180, rgba(59, 49, 49, 0.1));
  }
  100% {
    background-size: 50%;
    background-image: linear-gradient(to right, #ce4180, rgba(250, 248, 248, 0.1));
  }
}

/*******************************************************************************************/
/************************************ Секция описания компании******************************/
.description-section {
  min-height: 450px;
  border-bottom: 1px solid #eaeaea;
}
.description-section__container {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  color: #4f4f4f;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.description-section__header {
  color: #545455;
  font-family: "Exo 2", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: left;
  line-height: normal;
  border-left: 3px solid #cd3378;
  font-style: normal;
  letter-spacing: normal;
  vertical-align: bottom;
  padding-left: 30px;
}
.description-section__text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.description-section__text {
  width: 48%;
  padding-top: 55px;
}

/*******************************************************************************************/
/***************************************Секция преимуществ**********************************/
.benefits-section {
  height: 340px;
  border-bottom: 1px solid #eaeaea;
  padding-top: 30px;
}
.benefits-section__container {
  display: flex;
  flex-direction: column;
  color: #545455;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.benefits-section__header {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 60px;
  text-transform: none;
}
.benefits-section__container-items {
  display: flex;
  justify-content: space-around;
}
.benefits-section__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits-section__items-img {
  padding-bottom: 20px;
}
.benefits-section__items-text {
  padding-top: 20px;
  text-align: center;
}
.benefits-section__items hr {
  height: 3px;
  background-color: #d1528b;
  width: 37px;
  size: 200px;
}
@media (max-width: 500px) {
  .benefits-section {
    height: 100%;
    padding-bottom: 25px;
  }
  .benefits-section__container-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*******************************************************************************************/
/***************************************Секция преимуществ**********************************/
.reviews-section {
  height: 530px;
  padding-top: 20px;
  border-bottom: 1px solid #eaeaea;
}
.reviews-section__container {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.reviews-section__header {
  padding-bottom: 38px;
  color: #545455;
  font-family: "Exo 2", sans-serif;
  font-size: 26px;
  font-weight: 400;
}
.reviews-section__slider {
  display: flex;
  justify-content: center;
}
.reviews-section__items-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
}
.reviews-section__items {
  padding: 2%;
  width: 23%;
  max-width: 300px;
  max-height: 350px;
  overflow: auto;
  background-color: #f4f4f4;
}
.reviews-section__items-author {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
}
.reviews-section__arrow {
  color: #d1d1d1;
  font-size: 3em;
  display: flex;
  margin: auto 0;
  cursor: pointer;
}
.reviews-section__arrow:hover {
  color: #d1528b;
}
@media (max-width: 830px) {
  .reviews-section {
    height: 100%;
  }
  .reviews-section__items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  .reviews-section__items {
    width: 100%;
    padding: 5%;
  }
}
@media (max-width: 450px) {
  .reviews-section {
    grid-template-columns: 1fr;
  }
  .reviews-section__items-container {
    display: flex;
    flex-direction: column;
  }
}

/*******************************************************************************************/
/***************************************Секция партнеров************************************/
.partners-section {
  height: 100%;
  border-bottom: 1px solid #eaeaea;
}
.partners-section__container {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #4f4f4f;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 50px 100%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "h h" "t i";
}
.partners-section__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h;
  color: #545455;
  font-family: "Exo 2", sans-serif;
  font-size: 26px;
  font-weight: 400;
}
.partners-section__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: t;
  color: #4f4f4f;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-right: 2%;
  text-align: left;
}
.partners-section__items-container {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: i;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1050px) {
  .partners-section__items-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 680px) {
  .partners-section__items img {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .partners-section__container {
    display: flex;
    flex-direction: column;
  }
  .partners-section__items-container {
    display: flex;
  }
}

/*******************************************************************************************/
/***************************************Секция работ****************************************/
.working-section {
  height: 100%;
  border-bottom: 1px solid #eaeaea;
}
.working-section__container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.working-section__header {
  color: #545455;
  font-family: "Exo 2", sans-serif;
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 30px;
}
.working-section__slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.working-section__items-container {
  display: flex;
  width: 100%;
  padding: 0 1%;
  justify-content: space-around;
}
.working-section__items-container img {
  width: 95%;
}
.working-section__arrow {
  color: #d1d1d1;
  font-size: 3em;
  cursor: pointer;
}
.working-section__arrow:hover {
  color: #d1528b;
}
@media (max-width: 750px) {
  .working-section__items-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
  }
}

/*******************************************************************************************/
/***************************************Секция запроса**************************************/
.request-section {
  height: 405px;
  background-color: #23b3d2;
  border-bottom: 1px solid #eaeaea;
}
.request-section__container {
  padding: 60px 7% 60px 7%;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.request-section__header {
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 40px;
}
.request-section__form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.request-section form {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.request-section table {
  width: 100%;
}
.request-section table td {
  padding: 5px;
}
.request-section input {
  width: 100%;
  padding: 5px;
}
.request-section textarea {
  width: 100%;
  height: 100px;
}
.request-section button {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20.42px;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #ce4180;
  transition: 0.4s;
}
.request-section button:hover {
  box-shadow: 0 0 5px 0 #F137A6 inset, 0 0 5px 2px #F137A6;
  color: #fdfdfd;
}

/*******************************************************************************************/
/***************************************Секция подвала**************************************/
.footer-section__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 7% 30px 7%;
  color: #b8b8b8;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.footer-section__right {
  text-align: right;
}
.footer-section__right span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 630px) {
  .footer-section__container {
    font-size: 10px;
  }
}

/*******************************************************************************************/