@import "nullstyle";

body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

/****************************************Шапка сайта****************************************/

header {
  padding-left: 7%;
  padding-right: 7%;
  background-color: #373737;
  font-size: 14px;
  color: #818181;
  font-weight: 400;
}

.header-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav li {
    padding-right: 25px;
  }

  &__nav a {
    color: #818181;
  }

  &__nav-burger {
    display: none;
  }

  &__contacts::before {
    margin-right: 5px;
  }

  &__contacts_adaptive {
    display: none;
  }

  &__contacts_adaptive a {
    color: #818181;
  }

  &__contacts_adaptive i {
    margin-right: 5px;
    font-size: 18px;
  }


  @media (max-width: 930px) {

    &__contacts_adaptive {
      display: block;
    }

    &__contacts {
      display: none;
    }

    &__nav {
      justify-content: space-between;
    }
  }

  @media (max-width: 560px) {
    &__contacts_adaptive span {
      display: none;
    }
    &__nav li {
      padding-right: 15px;
      font-size: 12px;
    }
  }

  @media (max-width: 410px) {

    &__contacts_adaptive span {
      display: none;
    }

    &__nav {
      position: absolute;
      top: 50px;
      left: 0px;
      display: none;
      flex-direction: column;
      justify-content: start;
      padding: 20px;
      width: 100%;
      height: 100%;
      background-color: #54494a;
    }

    &__nav li {
      font-size: 30px;
      padding-bottom: 30px;
    }

    &__nav-burger {
      display: block;
    }

  }
}

/*******************************************************************************************/

/****************************FeedBack button - для адаптивности*****************************/

.feed-back-btn {
  display: none;
  position: fixed;
  z-index: 3;
  background-color: #ce4180;
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: .4s;
}

.feed-back-btn img {
  width: 30px;
}

.feed-back-btn:hover {
  box-shadow: 0 0 5px 0 #F137A6 inset, 0 0 5px 2px #F137A6;
  color: #fdfdfd;
}

@media (max-width: 631px) {
  .feed-back-btn {
    display: flex;
  }
}

/*******************************************************************************************/

/**************************************Окно приветсвия**************************************/

.main-screen {
  display: grid;
  grid-template-rows: 110px 85px 550px;
  border-bottom: 1px solid #eaeaea;

  &__header {
    padding-left: 7%;
    padding-right: 7%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 110px;
    font-size: 16px;
    color: #818181;
    font-weight: 400;
    border-bottom: 1px solid #eaeaea;
  }

  &__logo-container {
    display: flex;
  }

  &__logo {
    padding-right: 7%;
  }

  &__logo-description {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__contacts-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__contacts {
    margin-right: 4%;
  }

  &__phone {
    color: #545455;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 800;
  }

  &__workingHours {
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }

  &__feedBack {
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20.42px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #ce4180;
    transition: .4s;
    display: block;
  }

  &__feedBack:hover {
    box-shadow: 0 0 5px 0 #F137A6 inset, 0 0 5px 2px #F137A6;
    color: #fdfdfd;
  }

  &__navbar {
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eaeaea;
    overflow: auto;
  }

  &__navbar ul {
    display: flex;
    width: 80%;
    justify-content: space-around;
  }

  &__navbar-icon {
    color: #545455;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__navbar-icon i {
    font-size: 200%;
    color: #e0e0e0;
    padding-right: 12px;
    transition: .4s;
  }

  &__navbar li:hover i {
    color: #ce4180;
  }

  /***************** Слайдер *****************/
  &__slider {
    position: relative;
    overflow: hidden;
  }

  &__slider-wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  &__slider-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  &__slider-control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  &__slider-control:hover,
  &__slider-control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  &__slider-control_left {
    left: 0;
  }

  &__slider-control_right {
    right: 0;
  }

  &__slider-control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  &__slider-control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  &__slider-control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  &__slider-item {
    height: 550px;
  }

  &__slider-item > div {
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &__slider-description {
    max-width: 750px;
    width: 60%;
    position: absolute;
    bottom: 0;
    height: 174px;
    box-shadow: 0 0 32px 2px rgba(88, 79, 85, 0.41);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description-heading {
    color: #545455;
    font-family: 'Exo 2', sans-serif;
    font-size: 120%;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  &__description-body {
    color: #818181;
    font-family: Roboto, sans-serif;
    font-size: 90%;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
  }

  &__description-dots ul {
    display: flex;
  }

  &__description-dots li {
    width: 10px;
    height: 10px;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 5px;
    transition: .4s;
    cursor: pointer;
  }

  &__dot.active {
    background: #ff253a;
  }

  /*********************************************************************************/

}

/*******************************************************************************************/

/**************************************Адаптив для main-screen******************************/

@media (max-width: 930px) {
  .main-screen {
    grid-template-rows: 110px 85px 400px;

    &__contacts-container {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
    }

    &__feedBack-container {
      display: flex;
      justify-content: center;
    }

    &__contacts {
      display: none;
    }

    &__header {
      grid-template-columns: 70% 30%;
    }

    &__navbar ul {
      width: 95%;
    }

    &__navbar-icon {
      font-size: 14px;
    }

    &__navbar-icon i {
      font-size: 150%;
    }

    &__slider-item > div {
      position: relative;
      background-size: auto 400px;
    }

    &__slider-item {
      height: 400px;
    }

    &__description-heading {
      font-size: 100%;
    }

    &__description-heading {
      font-size: 80%;
    }

    &__description-body {
      font-size: 70%;
    }
  }
}

@media (max-width: 631px) {
  .main-screen {
    grid-template-rows: 110px 400px 300px;
    height: 100%;

    &__feedBack-container {
      display: none;
    }

    &__header {
      grid-template-columns: 100%;
    }

    &__logo-description {
      justify-content: flex-end;
      font-size: 15px;
      font-weight: bold;
    }

    &__logo img {
      width: 170%;
    }

    &__navbar {
      height: 100%;
    }

    &__navbar ul {
      padding: 20px 0 20px 0;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: space-around;
    }

    &__navbar li {
      padding: 10px 0 10px 0;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &__navbar-icon {
      font-size: 20px;
    }

    &__navbar-icon i {
      font-size: 24px;
    }

    &__navbar li:hover {
      border-bottom: 1px solid #eaeaea;
      border-top: 1px solid #eaeaea;
    }

    &__slider-item > div {
      background-size: auto 300px;
    }

    &__slider-item {
      height: 300px;
    }

    &__slider-description {
      width: 85%;
      height: 40%;
    }
  }
}

@media(max-width: 381px) {
  .main-screen {
    grid-template-rows: 110px 400px 200px;
    height: 100%;

    &__logo-description {
      width: 60%;
      font-size: 12px;
    }

    &__logo-container {
      justify-content: space-between;
    }

    &__logo {
      height: 100%;
    }

    &__logo img {
      width: 100%;
    }

    &__slider-description {
      background-color: rgba(255, 255, 255, .6);
      width: 100%;
      height: 50%;
    }

    &__description-heading {
      font-size: 70%;
    }

    &__slider-item > div {
      background-size: auto 200px;
    }

    &__slider-item {
      height: 200px;
    }
  }
}

/*******************************************************************************************/

/*************************************Остальной контент*************************************/

.content {
  padding: 60px 7% 60px 7%;
}

/*******************************************************************************************/

/************************************Анимированная проводка*********************************/

.wiring {
  height: 320px;
  border-bottom: 1px solid #eaeaea;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__items {
    width: 30%;
    max-width: 370px;
    height: 200px;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
  }

  &__items-text {
    border-bottom: 2px solid white;
    display: inline-block;
    padding-left: 10%;
    padding-bottom: 15px;
    padding-top: 15px;
    position: absolute;
    top: 40%;
    background-image: linear-gradient(to right, rgb(206, 65, 128), rgba(255, 255, 255, 0.1));
    background-repeat: no-repeat;
    background-size: 0;
  }

  &__gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(206, 65, 128), rgba(265, 265, 265, 0.1));
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__gradient:hover {
    animation: wiring 0.4s linear 1 normal 0s forwards;
  }

  &__gradient:hover .wiring__items-text {
    animation: bg-text 0.2s linear 1 normal 0.45s forwards;
  }

  &__items.window {
    background: no-repeat url("../IMG/Wiring/wiring-window.png");
  }

  &__items.doors {
    background: no-repeat url("../IMG/Wiring/wiring-doors.png");
  }

  &__items.balcony {
    background: no-repeat url("../IMG/Wiring/wiring-balcony.png");
  }

  @keyframes bg-text {
    0% {
      background-size: 0;
      border-bottom: 2px solid white;
    }

    100% {
      background-size: 100%;
      border-bottom: 3px solid white;
    }
  }

  @keyframes wiring {
    0% {
      background-size: 100%;
    }
    50% {
      background-size: 70%;
    }
    100% {
      background-size: 0;
    }
  }

}

@media (max-width: 631px) {
  .wiring {
    height: 250px;

    &__items {
      height: 150px;
    }
  }
}

@media (max-width: 381px) {
  .wiring {
    height: 500px;
    padding-bottom: 30px;

    &__container {
      flex-direction: column;
      width: 100%;
    }

    &__items {
      width: 100%;
    }

  }
}

/*******************************************************************************************/


/************************************Секция окон********************************************/

.window-section {
  height: 490px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-around;
    font-family: "Exo 2", sans-serif;
    width: 100%;
    height: 80%;
  }

  &__items {
    height: 370px;
    width: 14%;
    min-width: 200px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__items_active {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
  }

  &__items:hover .window-section__items_active {
    display: flex;
    flex-direction: column;
    animation: window-active 0.4s linear 1 normal forwards;
  }

  &__items:hover .window-section__items-text {
    display: none;
  }

  &__items-text-description {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    height: 60%;
    padding: 5%;
  }

  &__items-text-price {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    height: 20%;
  }

  &__items-text-price span {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  &__items-text-btn {
    display: flex;
    justify-content: center;
  }

  &__items_active a {
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20.42px;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #ce4180;
    transition: .4s;
  }

  &__items_active a:hover {
    box-shadow: 0 0 5px 0 #F137A6 inset, 0 0 5px 2px #F137A6;
    color: #fdfdfd;
  }

  &__items-img {
    padding-top: 35px;
    display: flex;
    justify-content: center;
  }

  &__items-text {
    border-top: 2px solid #d1528b;
    margin-top: 25px;
    padding-top: 20px;
    text-align: center;
    color: #545455;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

  }

  @keyframes window-active {
    0% {
      background: rgba(0, 0, 0, 0.1);
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  @media (max-width: 1200px) {
    height: 1400px;
    &__container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 5%;
    }

    &__items {
      margin: 0 auto;
    }
  }

  @media (max-width: 470px) {

    height: 100%;
    &__container {
      display: flex;
      flex-direction: column;
    }
    &__items {
      margin-bottom: 5%;
    }
  }

}

/*******************************************************************************************/

/************************************Секция услуг*******************************************/

.services-section {
  height: 290px;
  border-bottom: 1px solid #eaeaea;

  &__container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: "Exo 2", sans-serif;
  }

  &__item {
    width: 48.5%;
    max-width: 590px;
    height: 170px;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;

  }

  &__item.liner {
    background-image: url("../IMG/Services/services-img1.png");
  }

  &__item.service {
    background-image: url("../IMG/Services/services-img2.png");
  }

  &__gradient {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(206, 65, 128), rgba(265, 265, 265, 0.1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
  }

  &__gradient:hover {
    animation: services-animation 1s linear 1 normal 0s forwards;
  }

  &__item-text {
    padding-top: 15px;
    color: #ffffff;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @keyframes services-animation {
    0% {
      background-size: 100%;
    }
    25% {
      background-size: 50%;
    }
    50% {
      background-size: 0;
    }
    75% {
      background-size: 10%;
      background-image: linear-gradient(to right, rgb(206, 65, 128), rgba(59, 49, 49, 0.1));
    }
    100% {
      background-size: 50%;
      background-image: linear-gradient(to right, rgb(206, 65, 128), rgba(250, 248, 248, 0.1));
    }
  }

}

/*******************************************************************************************/

/************************************ Секция описания компании******************************/

.description-section {
  min-height: 450px;
  border-bottom: 1px solid #eaeaea;

  &__container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    color: #4f4f4f;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  &__header {
    color: #545455;
    font-family: "Exo 2", sans-serif;
    font-size: 2em;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    border-left: 3px solid #cd3378;
    font-style: normal;
    letter-spacing: normal;
    vertical-align: bottom;
    padding-left: 30px;
  }

  &__text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  &__text {
    width: 48%;
    padding-top: 55px;
  }

}

/*******************************************************************************************/

/***************************************Секция преимуществ**********************************/

.benefits-section {
  height: 340px;
  border-bottom: 1px solid #eaeaea;
  padding-top: 30px;

  &__container {
    display: flex;
    flex-direction: column;
    color: #545455;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__header {
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 60px;
    text-transform: none;
  }

  &__container-items {
    display: flex;
    justify-content: space-around;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__items-img {
    padding-bottom: 20px;
  }

  &__items-text {
    padding-top: 20px;
    text-align: center;
  }

  &__items hr {
    height: 3px;
    background-color: #d1528b;
    width: 37px;
    size: 200px;
  }

  @media (max-width: 500px) {
    height: 100%;
    padding-bottom: 25px;
    &__container-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

  }
}

/*******************************************************************************************/

/***************************************Секция преимуществ**********************************/

.reviews-section {
  height: 530px;
  padding-top: 20px;
  border-bottom: 1px solid #eaeaea;

  &__container {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }

  &__header {
    padding-bottom: 38px;
    color: #545455;
    font-family: "Exo 2", sans-serif;
    font-size: 26px;
    font-weight: 400;
  }

  &__slider {
    display: flex;
    justify-content: center;
  }

  &__items-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
  }

  &__items {
    padding: 2%;
    width: 23%;
    max-width: 300px;
    max-height: 350px;
    overflow: auto;
    background-color: #f4f4f4;
  }

  &__items-author {
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
  }

  &__arrow {
    color: #d1d1d1;
    font-size: 3em;
    display: flex;
    margin: auto 0;
    cursor: pointer;
  }

  &__arrow:hover {
    color: #d1528b;
  }

  @media (max-width: 830px)  {
    height: 100%;
    &__items-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
    &__items {
      width: 100%;
      padding: 5%;
    }
  }
  
  @media (max-width: 450px) {
    &__items-container {
      display: flex;
      flex-direction: column;
    }
    grid-template-columns: 1fr;
  }

}

/*******************************************************************************************/

/***************************************Секция партнеров************************************/

.partners-section {
  height: 100%;
  border-bottom: 1px solid #eaeaea;

  &__container {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #4f4f4f;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 50px 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "h h" "t i";
  }

  &__header {
    grid-area: h;
    color: #545455;
    font-family: "Exo 2", sans-serif;
    font-size: 26px;
    font-weight: 400;

  }

  &__text {
    grid-area: t;
    color: #4f4f4f;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-right: 2%;
    text-align: left;
  }

  &__items-container {
    grid-area: i;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 1050px) {
    &__items-container{
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  @media (max-width: 680px) {
    &__items img {
      width: 80%;
    }
  }

  @media (max-width: 550px) {
    &__container {
      display: flex;
      flex-direction: column;
    }
    &__items-container {
      display: flex;
    }
  }

}

/*******************************************************************************************/

/***************************************Секция работ****************************************/

.working-section {
  height: 100%;
  border-bottom: 1px solid #eaeaea;

  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    color: #545455;
    font-family: "Exo 2", sans-serif;
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 30px;
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__items-container {
    display: flex;
    width: 100%;
    padding: 0 1%;
    justify-content: space-around;
  }

  &__items-container img {
    width: 95%;
  }

  &__arrow {
    color: #d1d1d1;
    font-size: 3em;
    cursor: pointer;

  }

  &__arrow:hover {
    color: #d1528b;
  }

  @media (max-width: 750px){
    &__items-container {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-gap: 20px;
    }
  }
}

/*******************************************************************************************/

/***************************************Секция запроса**************************************/

.request-section {
  height: 405px;
  background-color: #23b3d2;
  border-bottom: 1px solid #eaeaea;

  &__container {
    padding: 60px 7% 60px 7%;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__header {
    color: #ffffff;
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 40px;
  }

  &__form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  table {
    width: 100%;
  }

  table td {
    padding: 5px;
  }

  input {
    width: 100%;
    padding: 5px;
  }

  textarea {
    width: 100%;
    height: 100px;
  }

  button {
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20.42px;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #ce4180;
    transition: .4s;
  }

  button:hover {
    box-shadow: 0 0 5px 0 #F137A6 inset, 0 0 5px 2px #F137A6;
    color: #fdfdfd;
  }
}

/*******************************************************************************************/

/***************************************Секция подвала**************************************/

.footer-section {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 30px 7% 30px 7%;
    color: #b8b8b8;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  &__right {
    text-align: right;
  }

  &__right span {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  @media (max-width: 630px) {
    &__container {
      font-size: 10px;
    }
  }

}

/*******************************************************************************************/





